{%- if site.github_username -%}<div><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" uk-icon="icon: github"></a></div>{%- endif -%}
{%- if site.instagram_username -%}<div><a href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}" uk-icon="icon: instagram"></a></div>{%- endif -%}
<!--{%- if site.linkedin_username -%}<div><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" uk-icon="icon: linkedin"></a></div>{%- endif -%}-->
{%- if site.email -%}<div><a href="mailto:{{ site.email| cgi_escape | escape }}" uk-icon="icon: mail"></a></div>{%- endif -%}
{%- if site.twitter_username -%}<div><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" uk-icon="icon: twitter"></a></div>{%- endif -%}


