{%- if site.email -%}<div><a class="uk-margin-small-left"
    href="mailto:{{ site.email| cgi_escape | escape }}">
    <img src="/images/mail-20icon.svg" loading="lazy" alt="" /></a></div>{%-endif -%}

{%- if site.github_username -%}<div><a class="uk-margin-small-left"
        href="https://www.github.com/{{ site.github_username| cgi_escape | escape }}">
        <img src="/images/github-20icon.svg" loading="lazy" alt="" /></a></div>{%- endif -%}


{%- if site.linkedin_username -%}<div><a class="uk-margin-small-left"
        href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
        <img src="/images/linkedin-20icon.svg" loading="lazy" alt="" /></a></div>{%- endif -%}


        {%- if site.instagram_username -%}<div><a class="uk-margin-small-left icon"
            href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
            <img src="/images/instagram-20icon.svg" loading="lazy" alt="" /></a></div>{%- endif -%}
