---
---
// custom sass css config

/** Links */

a { color: #a3788a; text-decoration: none; }

a:visited { color: #a3788a; }

a:hover { color: #111; text-decoration: underline; }

a[href^="mailto:"] { color: #a3788a; }
a[href^="mailto:"]:hover { color: #111; }

/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }


/** Site footer */
.site-footer { border-top: 1px solid #af4242; padding: 30px 0; }

.site-title::before {
    content: url("/images/logo.svg");
    display: inline-block;
    position: relative;
    width: 45px;
    top: 8px;
}
